<% content_for :header do %>
  <section class="hero is-danger">
    <div class="hero is-danger">
      <div class= "container">
        <h1 class="title">
          The latest finds in Milo's Pineapple Shop
        </h1>
      </div>
    </div>
  </section>
<% end %>

<div class="hoody-index-grid pt4">
  <% @hoodies.each do |hoody| %>

    <div class="hoody border-light">
      <div class="hoody-thumb">
        <%= link_to(image_tag(hoody.image.thumb.url, alt: 'Image'), hoody.image.url, target: '_blank') if hoody.image? %>
        <%= image_tag(hoody.image.url, alt: 'Image') if hoody.image? %>
        <% if hoody.size? %>
          <div class="size">
            <span class="tag is-dark"><%= hoody.size %></span>
          </div>
        <% end %>
      </div>

      <div class="pa3">

        <h3 class="fw7 f4 title"><%= link_to hoody.title, hoody %></h3>

        <p class="has-text-grey fg pt1">Sold by <%= hoody.user.name %></p>

        <p class="f3 fw6 has-text-right pt2 price"><%= number_to_currency(hoody.price) %></p>

        <% if hoody_author(hoody) %>
          <%= link_to "Edit", edit_hoody_path(hoody), class: "button is-small" %>
          <%= link_to "Delete", hoody, method: :delete, data: { confirm: "Are you sure?"},
            class: "button is-small" %>
        <% end %>

      </div>
    </div>
  <% end %>
</div>