<% content_for :body_class, 'bg-light' %>

<section class="section hoody-show">
  <div class="columns">
    <div class="column is-8">
      <h1 class="title is-2"><%= @hoody.title %></h1>

      <ul class="pv1">
        <% if @hoody.brand? %>
        <li class="inline-block pr3"><%= @hoody.brand %></li>
        <% end %>

        <% if @hoody.size? %>
        <li class="inline-block pr3"><%= @hoody.size %></li>
        <% end %>
      </ul>

      <div class="feature-image">
        <%= image_tag(@hoody.image.url, alt: 'Image') if @hoody.image? %>
      </div>

      <div class="content pa4 mt3 bg-white border-radius-3">

      <h3 class="subtitle is-4">Description</h3>
      <%= @hoody.description %>

      <h3 class="subtitle is-4 pt5">Product Specs</h3>

      <table class="table is-narrow">
        <% if @hoody.size %>
          <tr>
            <td class="has-text-weight-bold">Size:</td>
            <td><%= @hoody.size %></td>
          </tr>
        <% end %>

        <% if @hoody.brand %>
          <tr>
            <td class="has-text-weight-bold">Brand:</td>
            <td><%= @hoody.brand %></td>
          </tr>
        <% end %>
      </table>

    </div>
  </div>


    <div class="column is-3 is-offset-1">
      <div class="bg-white pa4 border-radius-3">
        <h4 class="title is-5 has-text-centered"><%= number_to_currency(@hoody.price) %></h4>
        <p class="has-text-centered mb4">Sold by <%= @hoody.user.name %></p>
        <%= button_to 'Add to cart', "#", class: 'button is-warning add-to-cart' %>
      </div>
    </div>
  </div>

  <% if hoody_author(@hoody) %>
    <%= link_to 'Edit', edit_hoody_path(@hoody), class: 'button' %>
  <% end %>
</section>